/web/bundles/
/public/bundles/
/vendor/
/.idea/
/cache.properties
/composer
/web/.htaccess
/var/

atlassian-ide-plugin.xml

build/coverage
build/logs
build/pdepend
build/code-browser
build/dbDoc

.vagrant
*.phpunit-cas.db

.private

supervisor

container-data

/.env.local
/.env.local.php
/.env.*.local

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
